article, .main, main {
   margin-top:0px;
   margin-bottom:10px;
   min-height:100px;
   padding:10px 20px;
   color:#000;
   display:block;
   float:none;
   background:#fff;
   
   a, label {
      color:#0035A5;
   }

   /* Forms on main */
   form
   {
      display:block;
      margin:2em 0em;
      padding:1em 1em;
      border: 1px dashed #e0e0e0;
      border-radius: 5px;
      width:45em;
      max-width:98vw;

      /* Solo form */
      &:only-child,
      h1 ~ form:last-child,
      h2 ~ form:last-child,
      h3 ~ form:last-child
      {
         padding:2em 4em;
      }      
      & > h1:first-child,
      & > h2:first-child,
      & > h3:first-child,
      & > h4:first-child,
      & > h5:first-child,
      & > h6:first-child {
         margin-top:0;
         padding-top:0;
         margin-bottom:0.5em;
         margin-left:0;
         margin-right:0;
      }
      h1, h2, h3, h4, h5, h6
      {
         text-align:left;
         margin-top:15px;
         padding-top:15px;
         ~ div {   
            margin-left:0.2em;
            margin-right:0.2em;
         }
      }
      /* fieldsets and possible fieldset */
      & > div, & > fieldset {
         padding-left:0;
         padding-right:0;
         display:grid;
         justify-items: start;
         label {
            margin:0;
            padding:0;
         }
         input[type=text], input[type=email], textarea {
            width:98%;
         }
      }
   }


   /* Square Inputs */
   input[type=text],
   form input[type=password],
   form input[type=email],
   form textarea
   {
      display:block;
      margin:2px auto;
      padding:2px 5px;
      width:200px;
      max-width:98%;
      height:30px;
      line-height:35px;
   }
   

   form textarea,
   form textarea
   {
      display:block;
      width:97%;
      height:120px;
      margin:0;
   }
   
   /* Single Line Inputs beside labels */
   form label + input[type=text],
   form label + input[type=password],
   form label + input[type=email],
   form label + select
   {
      display:inline-block;
   }
   form label textarea {
      width:auto;
   }
   /* Text Inputs Inside Labels */
   form label input[type=text]:only-of-type,
   form label input[type=text]:only-of-type,
   form label input[type=password]:only-of-type,
   form label input[type=password]:only-of-type,
   form label input[type=email]:only-of-type,
   form label input[type=email]:only-of-type,
   form label textarea:only-of-type,
   form label textarea:only-of-type
   {
      margin:0;
      min-width:439px;
   }

   /* Radio Or Checkboxes Inside Label */
   form label input[type=radio],
   form label input[type=radio],
   form label input[type=checkbox],
   form label input[type=checkbox]
   {
      top:-0.4em;
      position:relative;
      margin-top:0.5em;
   }
   /* Radio Or Checkboxes after label */
   form label + input[type=radio],
   form label + input[type=radio],
   form label + input[type=checkbox],
   form label + input[type=checkbox]
   {
      position:relative;
      top:2px;
   }
   form label,
   form label
   {
      display:inline-block;
      text-transform:uppercase;
      cursor:pointer;
      text-align:left;
      margin:10px 0px 10px 0;
   }
   input[type=text],
   input[type=text],
   form input[type=password],
   form input[type=password],
   form input[type=email],
   form input[type=email]
   {
      width:60%;
   }
   input,
   input,
   textarea,
   textarea,
   select
   select
   {
      background: #fff;
      border:1px solid #ccc;
   }
   input:focus,
   input:focus,
   textarea:focus,
   textarea:focus,
   select:focus
   select:focus
   {
      box-shadow:0 0 5px 0 #1982D1 inset;
      border-color:#1982D1;
   }

   select,
   select
   {
      min-width:100px;
      height:35px;
      padding:8px 2px;
      text-transform:none;
   }
   form label select:only-of-type,
   form label select:only-of-type {
      min-width:452px;
   }
   form table,
   form table
   {
      margin:0;
   }

   input[type=submit],
   input[type=submit],
   button,
   button
   {
      background-color: #00ADEE;
      border-color: #888888;
      border-radius: 10px 10px 10px 10px;
      border-style: solid;
      border-width: 1px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      color: #FFFFFF;
      display:inline-block;
      font-family: 'Droid Serif',Georgia,"Times New Roman",Times,serif;
      font-size: 14px;
      height: 35px;
      min-width: 30%;
      letter-spacing: 2px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      text-transform: uppercase;
      margin:10px 5%;
   }

   /* Only Button */
   input[type=submit]:last-child,
   input[type=submit]:last-child,
   button:last-child,
   button:last-child
   {
      display:block;
      margin-left:auto;
      margin-right:auto;
   }


   input[type=submit]:active,
   input[type=submit]:active,
   button:active,
   button:active,
   button:active,
   button:active
   {
      background-color: #00A9EA;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset;
   }

   /* buttons beside each other */
   input[type=submit] + input[type=submit],
   input[type=submit] + input[type=submit],
   input[type=submit] + button,
   input[type=submit] + button,
   button + input[type=submit],
   button + input[type=submit],
   button + button,
   button + button
   {
      display:inline-block;
      margin-left:0px;
   }

   input:only-of-type + button {
      display:inline-block;
   }

   /* All Inputs */
   input[type=text],
   input[type=text],
   form input[type=password],
   input[type=password],
   input[type=email],
   input[type=email],
   select,
   select,
   input[type=submit],
   input[type=submit],
   button,
   form button
   {
      cursor: pointer;
   }

   /**
   * Header Titles
   */
   h1,
   h1,
   h2,
   h2,
   h3,
   h3,
   h4,
   h4,
   h5,
   h5,
   h6
   h6
   {
      color:#00A768;
      font-size:16px;
      font-family:'Droid Serif',Georgia,"Times New Roman",Times,serif;
      text-transform:uppercase;
      margin:10px 4px 2px;
      font-weight:normal;
      text-shadow: 0.05em 0.05em 0.02em #ccc;
   }
   form fieldset,
   form fieldset {
      width:auto;
      border:none;
      padding:0 0 10px;
      margin:0 0 10px;
   }

   /* Temporary also include main h1 */
   h1,
   h1
   {
      color:#00A768;
      font-size:26px;
      text-align:left;
      margin-left:0px;
      margin-top:20px;
   }
   h2,
   h2
   {
      margin-left:10px;
      margin-top:20px;
   }
   h3,
   h3
   {
      margin-left:15px;
      color:#000;
      font-family:verdana;
      font-size:10px;
      font-weight:bold;
   }
   h4,
   h4
   {
      margin-left:20px;
   }
   h5,
   h5
   {
      margin-left:25px;
   }
   h6,
   h6
   {
      margin-left:30px;
   }
   form h2,
   form h2
   {
      text-align:center;
   }
   h1 ~ div,
   h1 ~ div,
   h1 ~ ul,
   h1 ~ ul,
   h1 ~ dl,
   h1 ~ dl,
   h1 ~ p,
   h1 ~ p,
   h1 ~ h2,
   h1 ~ h2,
   h1 ~ h3,
   h1 ~ h3,
   h1 ~ h4,
   h1 ~ h4,
   h1 ~ h5,
   h1 ~ h5,
   h1 ~ h6,
   h1 ~ h6,
   h1 ~ xmp,
   h1 ~ xmp,
   h1 ~ small,
   h1 ~ small
   {
      margin-left:5px;
   }

   h2 ~ div,
   h2 ~ div,
   h2 ~ ul,
   h2 ~ ul,
   h2 ~ dl,
   h2 ~ dl,
   h2 ~ p,
   h2 ~ p,
   h2 ~ h3,
   h2 ~ h3,
   h2 ~ h4,
   h2 ~ h4,
   h2 ~ h5,
   h2 ~ h5,
   h2 ~ h6,
   h2 ~ h6,
   h2 ~ nav,
   h2 ~ xmp,
   h2 ~ xmp,
   h2 ~ small,
   h2 ~ small
   {
      margin-left:10px;
   }

   h3 ~ div,
   h3 ~ ul,
   h3 ~ p,
   h3 ~ dl,
   h3 ~ h4,
   h3 ~ h5,
   h3 ~ h6,
   h3 ~ nav,
   h3 ~ xmp,
   h3 ~ small
   {
      margin-left:15px;
   }

   h4 ~ div,
   h4 ~ ul,
   h4 ~ p,
   h4 ~ h5,
   h4 ~ h6,
   h4 ~ xmp,
   h4 ~ small
   {
      margin-left:15px;
   }

   h1 ~ p,
   h2 ~ p,
   h3 ~ p,
   h4 ~ p,
   h5 ~ p,
   h6 ~ p
   {
      margin-top:0px;
      margin-bottom:0px;
   }

   /* When two headers are placed after the other */
   h1 + h2,
   h1 + h2 {
      margin-top:0px;
   }

   .error_message,
   form label.error
   {
      color:red;
      font-weight:bold;
      display:block;
      text-align:center;
      margin:20px 0;
   }
   form label.error
   {
      margin:0;
      padding:0;
   }

   thead th.search form
   {
      background:transparent;
      width:auto;
      border-style:none;
      margin:0;
      padding:0;
   }

   thead th.search form input[type=text],
   thead th.search form select
   {
      width:200px;
   }
   thead th.search form input[type=text],
   thead th.search form select,
   thead th.search form button,
   thead th.search form input[type=submit]
   {
      margin:0;
      padding:0;
      display:inline;
      height:28px;
   }
   thead th.search form select
   {
      height:26px;
   }

   /**
   * Lists
   */
   ol,
   ul
   {
      list-style:none;
      padding-left:20px;
   }
   ul ul,
   ul ol,
   ol ul,
   ol ol
   {
      border-top:1px solid #eee;
      padding-bottom:5px;
   }
   ul li,
   ol li
   {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
   }

   ul > li:before,
   ol > li:before
   {
      color:#00ADEE;
      margin-right:5px;
      margin-left:5px;
      font-weight:bold;
   }
   ul > li:before
   {
      content:'\25A0';
      color:#00709B;
      text-shadow:0 0 2px;
   }
   ol
   {
      counter-reset: item;
   }
   ol > li:before
   {
      content: counter(item) ". ";
      counter-increment: item;
      text-shadow:0.5px 0.5px 0.08px #999;
   }
}