/**
 * Presentable CSS - CSS for developers
 * @version 1.0
 *
 * @author albertdiones@gmail.com
 */
table {
  margin: 10px auto;
  max-width: 90%;
  box-shadow: 0 0 2px #00709B;
  width: 100%;
  border: 2px solid #00709B;
  border-radius: 5px;
  border-collapse: separate;
}

table caption, table thead, table tbody, table tfoot {
  border-collapse: collapse;
}

table th {
  background: #eee;
  font-weight: bold;
}

table tbody th {
  text-align: center;
}

table tbody th:only-of-type {
  width: 60px;
  text-align: right;
}

table tbody th + td {
  text-align: left;
}

table tbody td {
  background: #fff;
  color: #000;
}

table th, table td {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}

table *[data-href] {
  cursor: pointer;
}

table *[data-href]:hover td {
  background-color: #ffd;
  color: #1982D1;
}

table caption {
  padding: 5px 10px 0;
  color: #BF4930;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: normal;
  text-shadow: 0.05em 0.05em 0.02em #CCCCCC;
  text-transform: uppercase;
}

/* table labels */
table thead tr:first-child th, table thead tr:only-child td, table tbody th:only-of-type, table tbody th {
  background: #00709B;
  color: #fff;
  white-space: nowrap;
  box-shadow: 0 0 2px #00709B;
  font-weight: bold;
}

table thead tr:first-child th:first-child {
  border-radius: 2px 0 0 0;
}

table thead tr:first-child th:last-child {
  border-radius: 0 2px 0 0;
}

table thead tr:first-child th:only-child {
  border-radius: 2px 2px 0 0;
}

table tbody tr td {
  border-bottom-style: none;
  background: #e0e0e0;
}

table tbody tr td:nth-child(odd) {
  background: #e8e8e8;
}

table tbody tr:nth-child(odd) td {
  background: #d0d0d0;
}

table tbody tr:nth-child(odd) td:nth-child(odd) {
  background: #d8d8d8;
}

table tfoot tr td {
  background: #00709B;
  color: #fff;
  border-style: none;
}

table tfoot tr:last-child td:first-child {
  border-radius: 0 0 0 2px;
}

table tfoot tr:last-child td:last-child {
  border-radius: 0 0 2px 0;
}

table tfoot tr:last-child td:only-child {
  border-radius: 0 0 2px 2px;
}

/* Navigation Bar */
[itemtype$="/SiteNavigationElement"] > ul, nav > ul {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
}

[itemtype$="/SiteNavigationElement"] > ul > li, nav > ul > li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  margin: 0;
  border-left: 1px solid #6fd1f6;
  text-align: left;
  min-width: 90px;
}

[itemtype$="/SiteNavigationElement"] > ul > li a, nav > ul > li a, [itemtype$="/SiteNavigationElement"] > ul > li, nav > ul > li {
  font-weight: bold;
  color: #005588;
  font-size: 10px;
}

[itemtype$="/SiteNavigationElement"] > ul > li:first-child, nav > ul > li:first-child {
  border-left-width: 0px;
}

[itemtype$="/SiteNavigationElement"] > ul > li ul, nav > ul > li ul {
  display: none;
  position: absolute;
  margin: 5px 0 0 -10.5px;
  border: 1px solid #6fd1f6;
  border-top-style: none;
  padding-left: 0;
}

[itemtype$="/SiteNavigationElement"] > ul > li:hover ul, nav > ul > li:hover ul {
  display: block;
  background: #fff;
}

[itemtype$="/SiteNavigationElement"] > ul > li li, nav > ul > li li {
  border-bottom: 1px solid #6fd1f6;
  list-style: none;
  border-collapse: collapse;
  padding: 5px 10px;
  min-width: 93.5px;
}

[itemtype$="/SiteNavigationElement"] > ul > li li:hover, nav > ul > li li:hover {
  background: #eee;
}

/* Breadcrumbs */
[itemprop=breadcrumb] {
  display: block;
  padding: 0 0 10px;
  margin: 0 0 10px;
  font-size: 10px;
  background: #fff;
  background-color: transparent;
}

[itemprop=breadcrumb] ul {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

[itemprop=breadcrumb] ul li a {
  color: #a67600;
}

[itemprop=breadcrumb] ul li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: transparent;
}

[itemprop=breadcrumb] ul li:before {
  content: " > ";
  color: #a67600;
}

[itemprop=breadcrumb] ul li:first-child:before {
  content: "";
}

[itemprop=breadcrumb] ul li:last-child {
  font-weight: bold;
}

body, table td, table th {
  color: #000;
  font: 10px verdana;
}

body {
  margin: 0;
  padding: 0;
}

a, label {
  color: #001031;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0px;
}

code {
  background: #f8f8f8;
}

pre code {
  border: 1px dashed #00709B;
  display: block;
  padding: 3px 5px;
}

header,
.header {
  background: #E6F8FF;
  padding: 10px 20px;
  margin: 0;
}

header > * {
  width: 900px;
  margin: 0 auto;
}

header a.title,
.header a.title {
  color: #00709B;
  display: block;
  font: 40px times;
  padding: 10px 0;
  text-decoration: none;
  text-transform: uppercase;
}

/**
 * Banner
 */
header + header, header + nav + header {
  background: #00709B;
  color: #fff;
  box-shadow: 0 0px 5px #000 inset;
  padding: 30px 60px 260px;
}

header + header > *, header + nav + header > *, article, footer > * {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

header + header h1 {
  font: bold 28px "helvetica neue", "myriad pro", helvetica, arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
}

/* Move everything up */
header + header ~ *, header + nav + header ~ * {
  position: relative;
  top: -250px;
}

header + header + *, header + nav + header + * {
  min-height: 400px;
}

footer,
.footer {
  background: #00709B;
  margin: 10px 0 0;
  padding: 10px 20px;
  color: #fff;
  box-shadow: 0 0 5px #000000 inset;
}

footer .generator,
.footer .generator {
  font-size: 8px;
  text-transform: uppercase;
}

div.cb {
  clear: both;
}/*# sourceMappingURL=default.css.map */